body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    text-transform: capitalize;
    background-color: blanchedalmond;
    padding: 5px;
    box-shadow: 3px 3px 20px;
}

.A1 {
    font-size: 25px;
    text-decoration: overline;
    text-indent: 25px;
    font-family: monospace;
}

.subjects h2 {
    text-transform: uppercase;
    font-family: fantasy;
    color: gray;
    text-shadow: 3px 3px 10px grey;

}

.subjects p {
    text-indent: 50px;
    font-size: 20px;
}

.subjects {
    text-align: center;
    padding: 10px;
    color: #333333;
    transform: rotate(25deg);
}

.subjects a {
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

.subjects a:hover {
    text-shadow: 1px 1px 4px gray;
}